<% @messages.each do |message| %>
  <h1><%= message.title %></h1><br />
  <h3><%= message.description %></h3><br />
  <%= link_to "Show Message", message_path(message), class: "btn btn-default" %>
<% end %>

<%= link_to "New Message", new_message_path, class: "btn btn-default" %>
