<h2><%= @message.title %></h2>
<h2><%= @message.description %></h2>

<%= link_to "Edit", edit_message_path(@message), class: "btn btn-default" %>
<%= link_to "Home", root_path, class: "btn btn-default" %>
